.body {
  margin: 1;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 50px;
  border: 1px solid #164e86;
  border-radius: 0.25rem;
  max-width: 100%;
}
.label {
  color: blue;
}
